{% extends 'main/base.html' %} {% load static %} {% load widget_tweaks %} 
{% block head %}
<!-- Additional head content specific to the child template -->
<!-- <link rel="stylesheet" href="{% static 'css/Ticket_booking.css' %}" />

    <script defer src="{% static 'js/validation.js' %}"></script> -->
<title>{% block title %}sign_uo{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />



{% endblock %} {% block main %}
<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->
  <nav class="nav nav-borders">
    <a
      class="nav-link ms-0"
      href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
      target="__blank"
      >Profile</a
    >
    <a
      class="nav-link"
      href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page"
      target="__blank"
      >Billing</a
    >
    <a
      class="nav-link active"
      href="https://www.bootdey.com/snippets/view/bs5-profile-security-page"
      target="__blank"
      >Security</a
    >
    <a
      class="nav-link"
      href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
      target="__blank"
      >Notifications</a
    >
  </nav>
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-lg-8">
      <!-- Change password card-->
      <div class="card mb-4">
        <div class="card-header">Change Password</div>
        <div class="card-body">
          <h1>Forgot your password?</h1>
          <p>
            Enter your email address below, and we'll email instructions for
            setting a new one.
          </p>

          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Send me instructions!" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
