{% extends 'dash/master.html' %}
<!-- {% load static %} -->
{% block head %}
<title>{% block title %}Tickets{% endblock %}</title>


{% endblock %}
{% block content %}
  
        <div class="all-tickets">
          <h2>All Tickets</h2>
          <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Ticket Number</th>
                <th>Start</th>
                <th>Stop</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in ticks %}
              <tr>
                  <td>{{ ticket.username }}</td>
                  <td>{{ ticket.ticket_number }}</td>
                  <td>{{tickets.start_point}}</td>
                  <td>Maua</td>
                  <td>ksh250</td>
                  <td class="primary"><a href="#">Details</a></td>
              </tr>
              {% endfor %}
              <tr>
                <td>Governor</td>
                <td>123-456-789</td>
                <td>Meru</td>
                <td>Maua</td>
                <td>ksh250</td>
                <td class="primary"><a href="#">Details</a></td>
              </tr>
              <tr>
                <td>Governor</td>
                <td>123-456-789</td>
                <td>Meru</td>
                <td>Maua</td>
                <td>ksh250</td>
                <td class="primary"><a href="#">Details</a></td>
              </tr>
              <tr>
                <td>Governor</td>
                <td>123-456-789</td>
                <td>Meru</td>
                <td>Maua</td>
                <td>ksh250</td>
                <td class="primary"><a href="#">Details</a></td>
              </tr>
              <tr>
                <td>Governor</td>
                <td>123-456-789</td>
                <td>Meru</td>
                <td>Maua</td>
                <td>ksh250</td>
                <td class="primary"><a href="#">Details</a></td>
              </tr>
            </tbody>
          </table>
          <!-- <a href="#">Show all</a> -->
 

      <!-- END OF MAIN -->
{% endblock %}