{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <!-- Additional head content specific to the child template -->
    <!-- <link rel="stylesheet" href="{% static 'css/Ticket_booking.css' %}" /> -->

{% endblock %}

{% block main %}

    <section class="ticket">
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body ticket">
              <h5 class="card-title">Ticket</h5>
              <p class="card-text"><b>Ticket Number: </b>123-456-789</p>

              <div class="row">
                <div class="col">
                  <p><b>From: </b>Meru</p>
                </div>
                <div class="col"><b>To: </b>Maua</div>
              </div>

              <div class="row">
                <div class="col">
                  <p><b>Created on: </b>13-02-24</p>
                </div>
                <div class="col"><b>Assigned to: </b>Paul Ngigi</div>
              </div>

              <div class="row">
                <div class="col">
                  <p>
                    <b>Status: </b
                    ><span class="badge bg-secondary">Active</span>
                  </p>
                </div>
                <div class="col"><b>Received by: </b>KDZ 123P</div>
              </div>


              <div id="qrcode"></div>

              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
    <script>
      // Details to be encoded in the QR code
      var ticketDetails = {
        Username: "Paul Ngigi",
        From: "Meru Town",
        To: "Maua",
        // departureTime: "12:00 PM",
      };

      // Convert details to a JSON string
      var data = JSON.stringify(ticketDetails);

      // Create an instance of QRCode
      var qrcode = new QRCode(document.getElementById("qrcode"), {
        width: 150, // Width of the QR code
        height: 150, // Height of the QR code
      });

      // Generate the QR code with the encoded details
      qrcode.makeCode(data);
    </script>
{% endblock %}
