{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/Ticket_booking.css' %}" />

{% endblock %}

{% block main %}


    <section class="ticket">
      <h1>Ticket Booking</h1>
        <!-- <form class="row g-3" method="post" action="{% url 'tickets:book_ticket' %}"> -->
      <form class="row g-3" method="post">

        {% csrf_token %}
        <div class="col-12">
          <label for="location" class="form-label">Route</label>
          {% render_field form.route class="form-control" id="start" %}

        </div>

        <div class="col-md-6">
          <label for="start" class="form-label">From</label>
          {% render_field form.start_point class="form-control" id="start" %}
        </div>

        <div class="col-md-6">
          <label for="desti" class="form-label">To</label>
          {% render_field form.stop_point class="form-control" id="desti" %}
        </div>
        <div class="col-md-12">
          <label for="phone_number" class="form-label">phone number</label>
          <input type="tel" class="form-control-sm" id="phone_number" value="254">
          <!-- {% render_field form.phone_number class="form-control-sm" id="phone_number" value="+254" %} -->
        </div>
        
        <div class="col-12">
          <button  class="btn btn-primary">Book Now</button>
      </form>
    </section>
{% endblock %}
